@import "../../constants-style/colors.style";

.input {
  background-color: $MEDITERRANEAN-BLUE;
  height: 64px;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 24px;
  color: $CIAN;
  padding: 10px;
}